<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Nana Farms</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/inventory.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <%- include('partials/navbar', {produce: produce})%>
    <header class="inv_header">
      <h1>Inventory</h1>
      <div class="filter_sort">
        <select name="category">
          <% categories.forEach((category) => { %>
          <option value="<%= category.category %>"
            ><%= category.category %>
          </option>
          <% }); %>
        </select>
        <select name="sort">
          <option value="name" selected>Name</option>
          <option value="count">Count</option>
          <option value="land">Land</option>
        </select>
      </div>
      <a href="/produce/form/add-new-produce">
        <button type="button" class="add_btn">Add new item</button>
      </a>
    </header>
    <main class="inventory">
      <table class="inventory_table">
        <thead>
          <tr>
            <th>Common name</th>
            <th>Scientific name</th>
            <th>Count</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <% produce.forEach(item => { %>
          <tr>
            <td>
              <a href="/produce/<%= item.id %>"> <%= item.common_name %> </a>
            </td>
            <td><%= item.scientific_name %></td>
            <td><%= item.count %></td>
            <td><%= item.unit %></td>
            <td><%= item.price %></td>
            <td><%= item.category %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
    <%- include('partials/footer', {year: year}); %>
  </body>
</html>
