<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= produce.common_name %></title>
  </head>
  <body>
    <header>
      <h1><%= produce.common_name %></h1>
    </header>
    <main>
      <section class="item_section">
        <div class="item">
          <p><%= produce.common_name %></p>
          <p><%= produce.scientific_name %></p>
          <p>Qty: <%= produce.count %></p>
          <p>Price per <%= produce.unit %>: <%= produce.price %>GHC</p>
          <p>Category: <%= produce.category %></p>
        </div>
      </section>
    </main>
    <%- include('partials/footer', {year: year}); %>
  </body>
</html>
