<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product form</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/produceForm.css">
  </head>
  <body>
    <%- include('partials/navbar') %>
    <header class="form_header">
      <h1>Add Item</h1>
    </header>
    <main class="new_produce_form">
      <form action="/produce/add-new-produce" method="post">
        <div class="input_control">
          <label for="cmName">Common Name: </label>
          <input
            type="text"
            name="cmName"
            id="cmName"
            placeholder="...cabbage"
          />
          <p class="error"></p>
        </div>
        <div class="input_control">
          <label for="sciName">Scientific Name: </label>
          <input
          type="text"
          name="sciName"
          id="scName"
          placeholder="...Brassica oleracea"
          />
          <p class="error"></p>
        </div>
        <div class="input_control">
          <label for="land_size">Land size:</label>
          <select name="land_size">
            <% landSizes.forEach(landSize => { %>
              <option value=<%= landSize.area_acres%>><%= landSize.area_acres %></option>
              <% }) %>
            </select>
          </div>
          <div class="input_control">
            <label for="numItems">Quantity: </label>
            <input type="number" name="numItems" id="numItems" />
            <p class="error"></p>
          </div>
          <div class="input_control">
            <label for="price">Price: </label>
            <input type="number" name="price" id="price" />
            <p class="error"></p>
          </div>
        <div class="input_control">
          <label for="category">Category:</label>
          <select name="category">
            <% categories.forEach(category => { %>
                <option value=<%= category.category %>><%= category.category %></option>
            <% }) %>
          </select>
        </div>
        <div class="input_control">
          <label for="unit">Unit:</label>
          <select name="unit">
            <option value="bag" selected>Bag</option>
          </select>
        </div>
        <button type="submit">Submit</button>
      </form>
    </main>
    <%- include('partials/footer', {year: year}); %>
  </body>
</html>
